[user]
	name = Ken Sodemann
	email = ken@ionic.io
[core]
	autocrlf = input
	excludesfile = /Users/kensodemann/.gitignore_global
[pager]
  branch = false
[push]
  default = simple
[pull]
  rebase = true

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = red reverse
  local = blue
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green
  plain = white

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  bra = branch -ra
  sta = status -sb
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  fl = log -u
  tree = log --graph --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  co = checkout
  stg = stage --patch
  stag = stage --patch
  ci = commit
  amend = commit --amend -C HEAD
  aa = commit -a --amend -C HEAD
  rb = !git fetch origin main && git rebase origin/main
  squash = !git fetch origin main && git rebase -i origin/main
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"
  rmb = branch -d
  rmbr = push origin --delete
  lsc = diff-tree --no-commit-id --name-only -r
  cdiff = diff-tree --patch -r

[filter "lfs"]
  required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = main
