snippet component "Basic Vue component" b
<template>
  <div>

	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: '${0: Component}',
});
</script>

<style scoped></style>
endsnippet

snippet page "A page in @ionioc/vue" b
<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content></ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: '${0: PageName}',
  components: { IonContent, IonHeader, IonPage, IonTitle, IonToolbar },
});
</script>

<style scoped></style>
endsnippet

snippet computed "Computed Values" b
  computed: {
	  $1() { return null; },
  },
endsnippet

snippet data "Data method" b
  data() {
	  return {
      $1
    };
  },
endsnippet

snippet setup "Basic component setup, includes the store" b
  setup() {
    const store = useStore();
    return { store };
  },
endsnippet
