# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.js':
  'Mocha Describe':
    'prefix': 'desc'
    'body': """
    describe('$1', function() {

    });
    """
  'Mocha Spec':
    'prefix': 'it'
    'body': """
    it('$1', function() {

    });
    """
  'Before Each':
    'prefix': 'before'
    'body': """
    beforeEach(function() {

    });
    """
  'Module Definition':
    'prefix': 'am'
    'body': 'angular.module(\'$1\', [$2]);'
  'Sinon Stub':
    'prefix': 'ss',
    'body': '$1 = sinon.stub({});'
  'Controller Spec':
    'prefix': 'ctrlspec',
    'body': """
    describe('$1: $2', function() {
      var $controllerConstructor;

      beforeEach(module('$1'));

      beforeEach(inject(function($controller) {
        $controllerConstructor = $controller;
      }));

      function createController() {
        return $controllerConstructor('$2', {});
      }

      it('exists', function() {
        var controller = createController();
        expect(controller).to.exist;
      });
    });
    """
  'Controller':
    'prefix': 'ctrl',
    'body': """
    angular.module('$1')
      .controller('$2', $3)
      .config(function($routeProvider) {
        $routeProvider.when('$4', {
          templateUrl: '$5',
          controller: '$2',
          controllerAs: 'controller'
        });
      });

    function $3() {
    }
    """
  'Service Spec':
    'prefix': 'svcspec',
    'body': """
    describe('$1: $2', function() {
      var $2;

      beforeEach(module('$1'));

      beforeEach(inject(function(_$2_) {
        $2 = _$2_;
      }));

      it('exists', function() {
        expect($2).to.exist;
      });
    });
    """
  'Service':
    'prefix': 'svc',
    'body': """
    angular.module('$1').factory('$2', $2);

    function $2() {
      return {};
    }
    """
  '$provide value':
    'prefix': 'prov',
    'body': '$provide.value(\'$1\', $2);'
